*, html, body{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body {
    background: url('../image/back.jpg');
}
.car {
    position: absolute;
    width: 290px;
    height: 114px;
    right: 0;
    top: 50%;
    animation: moveCar 8s infinite linear;
    z-index: 10;
    @keyframes moveCar {
        35%{
            right: 85%;
            transform: rotateY(0deg);
        }
        50%{
            right: 100%;
            transform: rotateY(180deg);
        }
        85%{
            right: 15%;
            transform: rotateY(180deg);
        }
        95%{
            right: 0;
            transform: rotateY(180deg);
        }
    }
    .light{
        position: absolute;
        width: 25px;
        height: 25px;
        top: -15%;
        right: 68%;
        box-shadow: 0 0 30px rgba(255, 0, 0, 1);
        animation: easyLight 2s infinite linear;
        @keyframes easyLight {
            50%{
                box-shadow: 0 0 30px rgba(0, 21, 255, 1);
            }
        }
    }
    .wheel{
        position: absolute;
        top: 67%;
        animation: moveWheel 4s infinite linear;
        @keyframes moveWheel {
            50%{
               transform: rotate(-360deg);
            }
        }
    }
    .wheel-2{
        position: absolute;
        top: 67%;
        right: 11%;
        animation: moveWheel 4s infinite linear;
    }
}
.road{
    position: fixed;
    top: -3%;
    width: 1920px;
    height: 1000px;
}